
@blue-color: #69D2E7;
@teal-color: #A7DBD8;
@beige-color: #E0E4CC;
@tangerine-color: #F38630;
@orange-color: #FA6900;

.splash-subhead {
  text-transform: none;
}

.char-icon {
  padding-right: 5px;
  font-weight: 500;
}