
@blue-color: #69D2E7;
@teal-color: #A7DBD8;
@beige-color: #E0E4CC;
@tangerine-color: #F38630;
@orange-color: #FA6900;

body {
    background-color: @blue-color
}

header {
    .logo {
        float: left;
        background: url(../images/logo.png) no-repeat;
        width: 400px;
        height: 75px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 0 0 0 -3px;
    }
}