
<header>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Will Fairclough</a>

            <ul>
                <li><a scroll-to="#splash-hero">Top</a></li>
                <li><a scroll-to="#interests">Interests</a></li>
                <li><a scroll-to="#experience">Experience</a></li>
                <li><a scroll-to="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

</header>