@(userForm: Form[UserData])

@main("Home") {


    @splash()

    <div class="content-wrapper">
        <div id="interests" class="content">
            <h2 class="content-head is-center">Development Interests</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-play"></i>
                        Scala and Play Framework
                    </h3>
                    <p>
                        The simplicity of Ruby on Rails with a typed language that gives me awesome tools like higher-order functions and pattern matching.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                    <h3 clabss="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Mobile Development
                    </h3>
                    <p>
                        Always trying out the latest iOS betas and implementing my newsest ideas into mobile apps.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-code"></i>
                        Web Front-End
                    </h3>
                    <p>
                        Currently playing around with AngularJS to rid my usually Front-End spaghetti code mess. Love defining my own directives and services to decouple my business code from my views.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                    <h3 class="content-subhead">
                        <span class="char-icon">&lambda;</span> Functional Programming
                    </h3>
                    <p>
                        Loving immutability and solving problems with high-order functions. Using Scala and Scheme to practice and advance my functional programming skills.
                    </p>
                </div>
            </div>
        </div>

        <div id="experience" class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
                <img class="pure-img-responsive" alt="File Icons" width="300" src="@routes.Assets.at("images/common/file-icons.png")">
            </div>
            <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

                <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor.
                </p>
            </div>
        </div>

        <div id="contact" class="content">
            <h2 class="content-head is-center">Contact me</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
                    @helper.form(action = routes.Application.sendMessage(), 'class -> "pure-form pure-form-stacked") {
                        <fieldset>
                            <label for="name">Your Name</label>
                            <input id="name" name="name" type="text" placeholder="Your Name">

                            <label for="email">Your Email</label>
                            <input id="email" name="email" type="email" placeholder="Your Email">

                            <label for="message">Your Message</label>
                            <textarea id="message" name="message" class="contact-message" placeholder="Tell me something interesting."></textarea>

                            <button type="submit" class="pure-button">Send</button>
                        </fieldset>
                    }
@*
                    <form class="pure-form pure-form-stacked" method="POST" action="@routes.Application.sendMessage">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">

                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="message">Your Message</label>
                            <textarea id="message" class="contact-message" placeholder="Tell me something interesting."></textarea>

                            <button type="submit" class="pure-button">Send</button>
                        </fieldset>
                    </form>*@
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
                    <h4>
                        <i class="fa fa-github"></i>
                        <a href="https://github.com/wfairclough" class="contact-title">GitHub</a>
                    </h4>
                    <p>
                        Come check out my current projects on GitHub. Send me a pull request if you have something cool to show me.
                    </p>

                    <h4>
                        <i class="fa fa-linkedin-square"></i>
                        <a href="http://ca.linkedin.com/pub/william-fairclough/24/b03/466/" class="contact-title">LinkedIn</a>
                    </h4>
                    <p>
                        Always interested in hearing about new development opportunities.
                    </p>

                    <h4>
                        <i class="fa fa-twitter"></i>
                        <a href="#" class="contact-title">Twitter</a>
                    </h4>
                    <p>
                        Send me a tweet.
                    </p>

                    <h4>
                        <i class="fa fa-file-text"></i>
                        <a href="@routes.Assets.at("files/WillFaircloughResume.pdf")" class="contact-title">Resume</a>
                    </h4>
                    <p>
                        I try to keep this up to date, but never enough hours in the day.
                    </p>
                </div>
            </div>

        </div>

        @footer()

    </div>




}
