<div id="splash-hero"></div>
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Will Fairclough</h1>
        <p class="splash-subhead">
                Enthusiastic software developer with a keen interest in trying the latest and greatest of mobile and web technologies. Currently focused on improving my Scala skills and building personal projects with the Play Framework.
        </p>
        <p>
            <a scroll-to="#contact" class="pure-button pure-button-primary">
                <i class="fa fa-edit"></i>
                Contact
            </a>
        </p>
    </div>
</div>